doctype html 
html 
   head 
      block head 
         link(rel='stylesheet' type='text/css' href='/css/style.css')
         script(src='/source/script.js' type='module')
         meta(charset='UTF-8')
         meta(name='viewport' content='width=device-width, initial-scale=1.0')
         title CodeReview | #{title}

      
   body
      h1.heading-primary.heading-primary--main Reset Your Password Now!
      
      .reset-password(id=token)
         form.reset-password-form
            .reset-password-form__group
               label(for="password").reset-password-form__label Password 
               input(type="password" name='password' placeholder='Password')#password.reset-password-form__input
            .reset-password-form__group
               label(for="passwordAgain").reset-password-form__label Password Again
               input(type="password" name='passwordAgain' placeholder='Password Again')#passwordAgain.reset-password-form__input
            a.btn.btn--primary.btn--resetPwd Reset Password Now
