.signup {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   width: 50vw;
   min-height: 60vh;
   border-radius: $default-border-radius;
   box-shadow: $default-box-shadow;
   &-form {
      @include form();

      &__container {
         display: flex;
         width: 80%;
         justify-content: space-between !important;
         &--group {
            display: flex;
            flex-direction: column;
            min-width: 45%;
         }
      }

      &__group {
         @include formGroup();
      }

      &__label {
         @include formLabel();
      }

      &__input {
         @include formInput();
      }

      &__buttons {
         min-width: 80%;
         display: flex;
         gap: 3rem;
         align-items: center;
         justify-content: flex-end;
      }
   }
}
