.alert {
   position: fixed;
   min-width: 30%;
   min-height: 10vh;
   box-shadow: $default-box-shadow;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: $default-font-size;
   animation: moveInTop 800ms ease-out;
   color: $color-grey-light-1;
   left: 35%;
   z-index: 1000;

   &-success {
      background-color: $color-success;
   }
   &-error {
      background-color: $color-error;
   }
}
