.post-item {
   display: flex;
   flex-direction: column;
   margin-top: 5rem;
   border-radius: $default-border-radius;
   box-shadow: $default-box-shadow;
   padding: 5rem;
   gap: 3rem;
   font-size: $default-font-size;
   @include respond(phone) {
      padding: 3rem 1rem;
      gap: 5rem;
   }

   &__star {
      @include star();
   }

   &__photo {
      width: 100%;
      height: 100%;
      display: flex;
      align-self: center;
   }

   &__comment {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;

      @include respond(phone) {
         max-width: 70%;
      }
   }

   &__comments {
      @include commentLink();
   }

   &__group {
      @include formGroup();
   }
   &__label {
      @include formLabel();
   }
   &__input {
      @include formInput();
   }
}
