.reset-password {
   display: flex;
   width: 98%;
   align-items: center;
   justify-content: center;
   margin: 0 auto 15rem auto;
   padding: 5rem 0;

   &-form {
      display: flex;
      flex-direction: column;
      min-width: 80%;
      max-height: 100vh;
      align-items: center;
      padding: 5rem 0;
      gap: 3rem;

      border-radius: $default-border-radius;
      box-shadow: $default-box-shadow;

      &__group {
         display: flex;
         flex-direction: column;
         gap: 0.2rem;
         min-width: 80%;
      }
      &__label {
         font-size: 1.8rem;
         color: $color-grey-dark;
      }

      &__input {
         border-radius: $default-border-radius;
         border: 1px solid $color-quad;
         padding: 1.5rem 1rem;
         outline: none;
         font-size: $default-font-size;
      }
   }
}
