@mixin respond($breakpoint) {
   @if $breakpoint == phone {
      @media only screen and (max-width: 37.5em) {
         @content;
      }
   }
   @if $breakpoint == tab-port {
      @media only screen and (max-width: 56.25em) {
         @content;
      }
   }
   @if $breakpoint == tab-land {
      @media only screen and (max-width: 75em) {
         @content;
      }
   }
   @if $breakpoint == big-desktop {
      @media only screen and (min-width: 112.5em) {
         @content;
      }
   }
}

@mixin formGroup() {
   display: flex;
   flex-direction: column;
   gap: 0.2rem;
   min-width: 80%;
}

@mixin formLabel() {
   font-size: 1.8rem;
}

@mixin formInput() {
   border-radius: $default-border-radius;
   border: $default-border;
   padding: 1.5rem 1rem;
   outline: none;
   font-size: $default-font-size;

   &::-webkit-file-upload-button {
      border: $default-border;
      border-radius: $default-border-radius;
      padding: 0.8rem 2.4rem;
      margin-right: 2rem;
      color: currentColor;
      background-color: transparent;

      &:hover {
         transform: translateY(-0.2rem);
      }
   }
}

@mixin form() {
   display: flex;
   flex-direction: column;
   min-width: 80%;
   max-height: 100vh;
   align-items: center;
   padding: 5rem 0;
   gap: 3rem;
}
