$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-primary: #264653;
$color-secondary: #2a9d8f;
$color-tertiary: #f4a261;
$color-quad: #e9c46a;

$color-error: #e5383b;
$color-success: #7ed56f;

$default-font-size: 1.6rem;
$default-border-radius: 0.8rem;
$default-box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
$default-border: 1px solid $color-quad;
